################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CalTestHelpers.csproj
/.vs/CalTestHelpers/FileContentIndex
/CalTestHelpers.sln
